<section class="media-hero">
  <div class="container">
    <h3 class="media-hero__title">Bagikan resep andalan mu</h3>

    <div class="media-hero__content">
      <form>
        <div class="media-hero__content__form-group">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              class="mise-icon mise-icon-search-unselected">
              <path
                d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                stroke="currentColor" stroke-width="1.5"></path>
              <path d="M15 15L20 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
          <input class="input input__outline-falsy" type="search" placeholder="Pilih resep yang kamu cari.." name="query"/>
          <button class="button button-primary">Cari</button>
        </div>
      </form>
    </div>
  </div>
</section>