@import './../../variabels';

.hero {
	text-align: center;
	.hero__recpe-title {
		font-size: $font-lg;
		margin: 0;
		margin-top: .8rem;
		font-weight: 600;
	}
	.hero__recpe-subtitle {
		font-size: $font-sm;
		line-height: 3rem;
		margin: 0;
	}

	form {
		button.btn {
			font-size: $font-md;
		}
	}
}