header {
  .navbar {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;

    &__brand img {
      width: 9.37rem;
    }
    &__end {

      .btn {
        padding: .5rem .8rem;
        font-size: $font-sm;
        span {
          position: relative;
          top: .18rem;
        }
      }

    }
  }
}