header {
  .navbar {
    background-color: $white;
    padding: .3rem;
    border-bottom: 1px solid #ddd;
    position: relative;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include breakpoint-up(large) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__brand img {
      width: 9rem;
    }

    &__button-burger {
      display: none;

      @include breakpoint-down(medium) {
          display: block;
          position: absolute;
          right: 10px;
      }

      button {
        svg {
          width: 1.87rem;
          color: $secondary;
          position: relative;
          top: 2px;

          @include breakpoint-down(medium) {

          }
        }

        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    &__end {
      transition: all 200ms ease-in-out;


      &.is-active {
        display: block;
        transform: translate(0px);
        opacity: 1;
      }

      @include breakpoint-down (medium) {
        position: absolute;
        top: 3.53rem;
        width: 100%;
        opacity: 0;
        transform: translateY(-100px);
        background-color: white;
        border-bottom: 1px solid #ddd;
      }

      .button {
        font-size: $font-sm;
        font-weight: 600;

        @include breakpoint-down (medium) {
          display: block;
          padding: .7rem;
        }
      }

    }
  }
}