{% extends 'layouts/app.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/recipe.index.css' %}">
{% endblock head %}

{% block content%}
	<section class="media-hero">
		<div class="container">
			<img src="{% static 'img/cook.png' %}" alt="create own your recipe">
			<h3 class="media-hero__title">Buat baru</h3>
			<p class="media-hero__subtitle">Bagikan inspirasi masak bagi pengguna lainnya</p>
			<div class="media-hero__content">
				<form method="post">
					{% csrf_token %}
					<button type="submit" class="button">Tambahkan</button>
				</form>
			</div>
		</div>
	</section>
{% endblock content %}