{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%} {% endblock title %}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/app.css' %}?id=3232"/>
  {% block head %}
  {% endblock head %}
</head>
<body>

  {% include 'partials/_header.html' %}

  {% block content %}
  {% endblock content %}


  {% block footer %}
  {% endblock footer %}
  <script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>